@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
.f-left{
    float: left;
}
.f-right{
    float: right;
}
.clear{
    clear: both;
}

.con-title{
    width: 465px;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
}
.con-type{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #5863F8;
}
.container{
    width: 1089px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
}
.content{
    margin-top: 50px;
}

.box{
    width: 352px;
    height: 370px;
    padding-right: 16px;
}
.box-img{
    width: 100%;
}
.about{
    background-color: #F8F8F8;
    text-align: center;
}